/Day03HomeWork2.23/build/
/Day03HomeWork2.23/nbproject/private/
/Day03HomeWork3.16/build/
/Day03HomeWork3.16/nbproject/private/
/Day03HomeWork3.4/build/
/Day03HomeWork3.4/nbproject/private/
/Day04HomeWork6.3test/nbproject/private/
/Day03HomeWork4.8/nbproject/private/
/Day05HomeWork4.8/nbproject/private/
/Day05HomeWork4.8/build/
/Day03HomeWork4.25/nbproject/private/
/Day03HomeWork4.25/build/
/Day05HomeWork5.8/nbproject/private/
/Day05HomeWork5.8/build/
/Day05HomeWork4.01_corrected/nbproject/private/
/Day05HomeWork4.01_corrected/build/
/Day05Homework6.1/nbproject/private/
/Day05Homework6.1/build/
/Day05PrepQuiz2.NumsSumAvg/nbproject/private/
/Day05PrepQuiz2.NumsSumAvg/build/
/Day05PrepQuiz2NamesStats/nbproject/private/
/Day05PrepQuiz2RandNumsMany/nbproject/private/
/Day05PrepQuiz2NamesArray1/nbproject/private/
/Day05PrepQuiz2NamesStats/build/
/Day05PrepQuiz2RandNumsMany/build/
/Day05PrepQuiz2NamesArray1/build/
/Day05PrepQuizNamesArray2/nbproject/private/
/Day05PrepQuizNamesArray2/build/
/Day06Quizteseanswers/nbproject/private/
/Day06Quizteseanswers/build/
/Studying by myself - Test file/nbproject/private/
/Studying by myself - Test file/build/
/StudyingByMyselfTesteFile1/nbproject/private/
/StudyingByMyselfTesteFile1/build/
/StudyingByMyselfTestFile2Tutorials/nbproject/private/
/StudyingByMyselfTestFile2Tutorials/build/
/JavaApplication49/nbproject/private/
/Day06HomeWork_FriendsList/nbproject/private/
/Day06HomeWork_FriendsList1/nbproject/private/
/Day06HomeWork_FriendsList1/build/
/Day06HomeWork_GPAStats/nbproject/private/
/Day06HomeWork_GPAStats/build/
/Day07Homework5.3/nbproject/private/
/Day07Homework5.2/nbproject/private/
/Day07Homework5.2/build/
/Day07Homework5.3/build/
/Day07Homework6.15/nbproject/private/
/Day07Homework6.15/build/
/Day07Homework5.17/nbproject/private/
/Day07Homework5.17/build/
/Day07HomeWork6.8/nbproject/private/
/Day08HomeWork6.8/nbproject/private/
/Day08HomeWork6.2corrected/nbproject/private/
/Day08HomeWork6.2corrected/build/
/Day08HomeWork6.3/nbproject/private/
/Day08HomeWork6.3/build/
/DAy08HomeWork6.4/nbproject/private/
/DAy08HomeWork6.4/build/
/Day08HomeWork.array2D/nbproject/private/
/Day08HomeWork.array2D/build/
/Day08HomeWorktest/nbproject/private/
/Day08HomeWorktest/build/
/Day08HomeWork6.8/build/
/Day08PrepQuiz3Exercise6.8/nbproject/private/
/Day08PrepQuiz3Exercise6.8/build/
/Day08PrepQuiz3ExercisesTest/nbproject/private/
/Day08PrepQuiz3ExercisesTest/build/
/Day08PrepQuiz3Exercise6.15/nbproject/private/
/Day08PrepQuiz3Exercise6.08/nbproject/private/
/Day08PrepQuiz3Exercise6.08a/nbproject/private/
/Day08PrepQuiz3Exercise6.08a/build/
/Day08PrepQuiz3Exercise5.03/nbproject/private/
/Day08PrepQuiz3Exercise5.03/build/
/Day08PrepQuiz3Exercise5.17/nbproject/private/
/Day08PrepQuiz3Exercise5.17/build/
/Day08PrepQuizExercise5.17Notes/nbproject/private/
/Day08PrepQuiz3ExercisesNotesHWArray2D/nbproject/private/
/Day08PrepQuiz3ExercisesNotesHWArray2D/build/
/Day08PrepQuiz3ExercisesNotesHWArrayListFriends/nbproject/private/
/Day08PrepQuiz3ExercisesNotesHWArrayListFriends/build/
