/Day03HomeWork2.23/build/
/Day03HomeWork2.23/nbproject/private/
/Day03HomeWork3.16/build/
/Day03HomeWork3.16/nbproject/private/
/Day03HomeWork3.4/build/
/Day03HomeWork3.4/nbproject/private/
/Day04HomeWork6.3test/nbproject/private/
