/Day03HomeWork2.23/build/
/Day03HomeWork2.23/nbproject/private/
/Day03HomeWork3.16/build/
/Day03HomeWork3.16/nbproject/private/
/Day03HomeWork3.4/build/
/Day03HomeWork3.4/nbproject/private/
/Day04HomeWork6.3test/nbproject/private/
/Day03HomeWork4.8/nbproject/private/
/Day05HomeWork4.8/nbproject/private/
/Day05HomeWork4.8/build/
/Day03HomeWork4.25/nbproject/private/
/Day03HomeWork4.25/build/
/Day05HomeWork5.8/nbproject/private/
/Day05HomeWork5.8/build/
/Day05HomeWork4.01_corrected/nbproject/private/
/Day05HomeWork4.01_corrected/build/
/Day05Homework6.1/nbproject/private/
/Day05Homework6.1/build/
/Day05PrepQuiz2.NumsSumAvg/nbproject/private/
/Day05PrepQuiz2.NumsSumAvg/build/
/Day05PrepQuiz2NamesStats/nbproject/private/
/Day05PrepQuiz2RandNumsMany/nbproject/private/
/Day05PrepQuiz2NamesArray1/nbproject/private/
/Day05PrepQuiz2NamesStats/build/
/Day05PrepQuiz2RandNumsMany/build/
/Day05PrepQuiz2NamesArray1/build/
/Day05PrepQuizNamesArray2/nbproject/private/
/Day05PrepQuizNamesArray2/build/
/Day06Quizteseanswers/nbproject/private/
/Day06Quizteseanswers/build/
/Studying by myself - Test file/nbproject/private/
/Studying by myself - Test file/build/
/StudyingByMyselfTesteFile1/nbproject/private/
/StudyingByMyselfTesteFile1/build/
/StudyingByMyselfTestFile2Tutorials/nbproject/private/
/StudyingByMyselfTestFile2Tutorials/build/
